@charset "UTF-8";

/* GERAL_____________________________________________________*/

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #4d4d4d;
}

h1,h2,h3{
	margin:0;
	font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.botao {
	color: #f1f1f1;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #8f3faf;
	font-size: .9em;
	border-radius: 8px;
}



/*BTN MENU ANIMADO__________________________________________*/

*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.btmenu{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	cursor: pointer;
	background-color: #8f3faf;
	width: 45px;
	height: 35px;
	border-radius: 5px;
	margin-right: 10px;
}

.hamburguer{
	background: #f1f1f1;
	width: 25px;
	height: 2px;
	position: relative;
	border-radius: 10px;
	transition: .5s ease-in-out all;
}

.hamburguer:before,
.hamburguer:after{
	background-color: #f1f1f1;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	position: absolute;
	transition: .5s ease-in-out all;
}

.hamburguer:before{
	top: -6px;
}
.hamburguer:after{
	bottom: -6px;
}

input{
	display: none;
}

input:checked ~ label .btmenu{
	border-radius: 50%;
	background-color: #f1f1f1;
}

input:checked ~ label .hamburguer{
	transform: rotate(45deg);
	background-color: #8f3faf;
}
input:checked ~ label .hamburguer:before{
	transform: rotate(90deg);
	top:0;
	background-color: #8f3faf;
}
input:checked ~ label .hamburguer:after{
	transform: rotate(90deg);
	bottom: 0;
	background-color: #8f3faf;
}





/*NAV_BAR___________________________________________*/


nav div{
	display: flex;
	flex-direction: row-reverse;
	align-items:center;
	justify-content:space-between;
	flex-wrap:wrap;
	width: 100%;
}
nav.menu{
	background-color: #262626;
	padding: 7px 0;
	position: fixed;
	width: 100%;
}

#logo{
	text-decoration: none;
	color: #f1f1f1;
	font-family: pacifico, serif;
	font-size: 1.5em;
	margin-left: 10px; 
}
.menu  h2{
	display: none;
}


.menu ul{
	display: none;
	list-style: none;
	padding: 0;
	width: 100%;
	margin: 0;
	margin-top: 5px;
	border-top: 1px solid #8f3faf;
}



.menu ul li{
	text-align: center;
	width: 100%;
}
.menu ul li:hover{
	background-color: #8f3faf;

}

.menu ul li a{
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #f1f1f1;
}



/*HEADER_______________________________________________________*/


header{
	background-image: linear-gradient(to right,rgba(0,0,0,.9), rgba(0,0,0,.5), rgba(0,0,0,.9)), url(../imagens/codando.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #0c191c;
	height: 100vh;
	color: #f1f1f1;
	text-align: center;
}

header .botao{
	margin-top: 20px;
	border-radius: 20%;
}


header p {margin:0 1em 2em;}




/*SOBRE_________________________________________________________*/


#sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #8f3faf;
	color: #f1f1f1;
	padding: 20px;
}
#sobre h2{
	text-transform: uppercase;
}

#sobre p {
	margin-bottom: 2.5em;
	max-width: 1000px;
}

#sobre .botao {
	background-color: #f1f1f1;
	color: #4d4d4d;
}



/*SERVIÇOS_______________________________________________*/


#servicos{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

#servicos div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	text-align: center;
}



/*PORTFÓLIO________________________________________________*/


#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}

#portfolio h2 {margin-bottom: 20px;}

#portfolio img {
	margin: 8px;
	border: 2px solid black;
}

.mobile,.desktop{
	width: 80%;
}




/*CONTATO____________________________________________________*/



#contato {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: #2a3e51;
	color: #f1f1f1;
	height: 100vh;
	padding: 20px;
}
#contato h2{
	font-size: 3em;
	padding-bottom: 10px;
}

#contato p{margin: 5px;}

#contato div{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-around;
}

.icones{
	display: block;
	align-items: center;
	width: 40px;
	height: 40px;
	padding: 5px;
	border: 2px solid #f1f1f1;
	border-radius: 50%;
	margin: 20px 5px;
}




/*FOOTER_____________________________________________*/



footer {
	text-align: center;
	padding: 5px;
	background-color: #262626;
	color: #f1f1f1;
}


/*DESKTOP_____________________________________*/


@media screen and (min-width: 768px) {

	/*NAVEGAÇÃO....................................*/

	.btmenu{display: none;}

	nav.menu {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 0;
		background-color: rgb(77, 77, 77, .5);
	}

	.menu ul {
		display: flex;
		flex-direction: row;
		width: 70%;
		border-top: none;
		margin-top: 0;
	}

	.menu ul li{padding: 10px;}

	.menu ul li a{
		color: #fff;
	}

	nav div{width: 30%;}

	/*CABEÇALHO......................................*/

	header {
		height: 600px;
		height: 100vh;
		background-size: cover;
	}

	header h1{
		font-size: 3em;
	}

	/*SOBRE ............................................*/

	#sobre {
		height: 250px;
		height: 50vh;
		justify-content: center;
		min-height: 250px;
	}

	/*SERVIÇOS..................................................*/

	#servicos {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		max-width: 1000px;
		margin: 0 auto;
	}

	#servicos h2 {
		text-align: center;
		width: 100%;
	}

	#servicos div {
		flex-grow: 1;
		flex-basis: 150px;
		padding: 0 10px;
	}

	/*PORTFOLIO.............................................*/

	#portfolio {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center
	}

	#portfolio h2 {
		width: 100%;
		text-align: center;
	}

	#portfolio img {
		padding: 0;
		margin: 0;
		padding: 20px 10px;
		border: none;
	}

	img.desktop{
		width: 47%;
	}
	.mobile{
		width: 30%;
		height: 450px;
	}

	/*
	CONTATO
	*/





}










